$sidebar-width: 250px;
$sidebar-bg-color: #f0f0f0;
$sidebar-link-color: #efefef;
$sidebar-link-hover-color: #111;
$sidebar-link-hover-bg-color: #eee;

.Sidebar {
    background: #000;
    color: #fff;
    flex: 0 0 $sidebar-width;
    height: -webkit-fill-available;
    visibility: visible;

    transition:
        flex 0.2s ease-in-out,
        width 0.2s ease-in-out;
        visibility: 0.4 ease-in-out;

    h2 {
        padding: 10px;
        font-family: sans-serif;
        font-size: 1.2rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        margin-left: 5px;
    }

    a {
        text-decoration: none;
        color: $sidebar-link-color;
        display: block;
        padding: 10px;
        font-family: sans-serif;
        font-weight: 500;
        transition: color 0.2s ease-in-out;
        font-size: 14px;

        &:hover {
            background-color: $sidebar-link-hover-bg-color;
            color: $sidebar-link-hover-color;
        }
    }
}